*{
    margin: 0;
    padding: 0;
}
body{
    background: #eeeeee;
}

.myForm{
    margin-top: 100px;
}

.result{
    background: #ffffff;
    margin-top: 150px;
    padding-top: 15px;
    min-height: 100px;
    width: 100%;
}